body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-23xl: 42px;
  --font-size-mini: 15px;

  /* Colors */
  --white: #fff;
  --primary: #3e4095;
  --black: #303030;
  --tertiary: #f58634;
  --secondary: #00a859;
  --grey-60: #686868;

  /* Paddings */
  --padding-xs: 12px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-181xl: 200px;
  --br-481xl: 500px;
}
