// Font

// $primaryFont: 'Inter', sans-serif;
$poppinsFont: 'Poppins', sans-serif;
$primaryFont:  'Roboto';
// font-family: 'Inter', sans-serif;
// font-family: 'Poppins', sans-serif;


// Color
$white: #ffffff;
$black: #000000;

$primaryblue: #3E4095;
$green: #00A859;
$orange: #F58634;
$lightblack: #303030;
$grey: #686868;
$logintext: #373435;

// Transition
$transition: all 0.3s ease-in-out;